<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Omnilog</title>
        <meta charset="UTF-8"/>

        <link rel="stylesheet" th:href="@{/app.css}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>


        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

        <table  class="responsive-table">
            <thead>
            <tr>
                <th data-field="id">Name</th>
                <th data-field="name">Item Name</th>
                <th data-field="price">Item Price</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                <td>$0.87</td>
            </tr>
            <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                <td>$3.76</td>
            </tr>
            <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
            </tr>
            </tbody>
        </table>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>


    </body>
</html>