<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
    <script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
    <script th:src="@{/js/home.js}"></script>
</head>
<body>
    <div class="panel">
        <h3>Users</h3>
        <table>
            <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="name">Item Name</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Alvin</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="result">Raw</div>


    <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
</body>
</html>